html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;

}

a {
  color: #01579B;
  transition: color 0.3s ease;
}

a:hover {
  color: #00B0FF;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}

button {
  color: #fff;
  font-family: "Poppins", sans-serif;
  border: 0;
  border-radius: 8px;
  padding: 8px 0;
  background-color: #000;
  cursor: pointer;
}

button:hover {
  opacity: 70%;
}

.loader {
  display: block;
  margin: 1rem auto;
  width: 4rem;
  height: 4rem;
}

/* Header */
header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: #000;
}

header img {
  width: 7.5rem;
  height: 3.75rem;
}

header input {
  width: 12.5rem;
  height: 2.25rem;
  border: 0;
  border-radius: .5rem;
  padding: 0 1rem;
}

/* Main */
.grid-fluid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  max-weight: 90%;
  margin: 1rem auto;
}

.card-hero {
  margin: 1rem auto;
  padding: 1rem;
  width: 80%;
  height: 400px;
  background-color: #ECEFF1;
}

.card-hero img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-hero h2 {
  font-size: 20px;
  line-height: 26px;
}

.card-hero--body {
  height: 154px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

.card-hero--body p {
  margin: 8px 0;
}

.card-hero--body a {
  display: inline-block;
  color: #FFF;
  text-align: center;
  font-family: "Poppins", sans-serif;
  border: 0;
  border-radius: 8px;
  padding: 8px 0;
  background-color: #000;
  cursor: pointer;
}

.card-hero--body a:hover {
  opacity: 70%;
}

/* Hero Detail */
.hero-detail {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
  margin: 0 auto;
}

.hero-detail-img {
  width: 100%;
}

@media (min-width: 768px) {
  .hero-detail {
    flex-direction: row;
  }

  .hero-detail-img {
    width: 100%;
    max-width: 420px;
  }
}

.hero-detail-img button {
  width: 80px;
  margin-bottom: 1rem;
}

.hero-detail-img img {
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.hero-detail-body {
  width: 100%;
}

.hero-detail-body h1 {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .hero-detail-body {
    width: 50%;
    margin-top: 3.25rem;
  }
}